@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');

:root{
    --main-color:#E75143;
    --light-color:#999;
    --light-white:#ccc;
    --light-bg:#eee;
    --white:#fff;
    --black:#021522;
    --main-color:black;
    --black:#555;
    --light-color:#777;
    --bg:#fceae9;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-out;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}
.logo-box  a{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-decoration: none;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    background: black;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
}

.header .navbar a{
    font-size: 1.7rem;
    color: white;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:silver;
}

#menu-btn{
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.3rem;
    border-radius: .5rem;
    color: var(--main-color);
    background: var(--bg);
    display: none;
}

#menu-btn:hover{
    color: white;
    background: var(--main-color);
}
 
.btn {
  text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.3);
    
    font-size: 1.7rem;
    padding: 1rem 3rem;
    transition: .3s ease;
  }
  
  .btn:hover {
    scale:105%;
    color: #000;
    background: white;
  }
  


  .home  {
    margin-top: 7rem;
    background: url(../images/backgrond.jpg) fixed;
    background-size: cover;
    background-position: center;
  }

  .home .content {
    max-width: 70rem;
    text-align: center;
    margin: 0 auto;
  }

  .home .content img {
    width: 70%;
  }

  .home .content h3 {
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
  }

  .home .content p {
    font-size: 3rem;
    line-height: 2;
    color: white;
    padding: 2rem 0;
  }



  
  
 .icons-contiainer {
    
    background: url(../images/backgrond.jpg) fixed;
    background-size: cover;
    background-position: center;
  }

 .icons-contiainer .box-container{
    

    display: grid;
    align-items: flex-start;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, 15rem);
    column-gap: 2rem;
    row-gap: 5rem;
 }
 
 .icons-contiainer .box-container .box{
    text-align: center;
 }
 
 .icons-contiainer .box-container .box img{
    height: 15rem;
    margin-bottom: 1.5rem;
    transition: .2s linear;
 }
 
 .icons-contiainer .box-container .box p{
    font-size: 1.6rem;
    color: var(--light-color);
 }
 
 .icons-contiainer .box-container .box:hover img{
    transform: scale(.9);
 }
 
 .icons-contiainer .box-container .box:hover p{
    color: white;
 }
 

 .heading {
    
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .heading h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    margin-top: 0rem;
  }
  


 .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3rem;
  }
  
  .about .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  .about .image img {
    width: 100%;
  }
  
  .about .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  .about .content .title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color:white;
  }
  
  .about .content p {
    font-size: 1.5rem;
    line-height: 2;
    color:white;
    padding: 2rem 0;
  }
  
  .about .content .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .about .content .icons h3 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 16rem;
            flex: 1 1 16rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
  }
  
  .about .content .icons h3 i {
    padding-right: .5rem;
    color: #eacf4f;
  }
  



  .about{
    
    background: url(../images/back2.jpg) fixed ;
    background-size: cover;
    background-position: center;
 }


 .events .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 2rem;
  }

  .events .box-container .box {
    text-align: center;
  }

  .events .box-container .box:hover img {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }

  .events .box-container .box img {
    height: 15rem;
    width: 15rem;
  }

  .events .box-container .box .content {
    padding: 1rem 0;
  }


  .events .box-container .box .content h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
  }


  .events .box-container p {
    font-size: 1rem;
    line-height: 2;
    color: white;
  }



  .events{
    
    background: url(../images/back2.jpg) fixed ;
    background-size: cover;
    background-position: center;
 }


 .contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 2rem;
  border: 0.2rem solid #334;
}


.contact{
    
  background: url(../images/back2.jpg) fixed ;
  background-size: cover;
  background-position: center;
}



.footer{
    
  background-color: #2C3639;
  background-size: cover;
  background-position: center;
}
.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: white;
  padding: 1rem 0;
}

.footer .box-container .box .link {
  display: block;
  padding: .5rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: white;
}

.footer .box-container .box .link i {
  padding-right: .5rem;
  color: #2597f4;
}

.footer .box-container .box .link:hover {
  color: #2597f4;
}

.footer .box-container .box .link:hover i {
  padding-right: 2rem;
}

.footer .box-container .box p {
  padding: .5rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: white;
}

.footer .box-container .box p span {
  color: #2597f4;
}

.footer .box-container .box .email {
  width: 100%;
  border: 0.2rem solid #334;
  padding: 1.6rem 1.4rem;
  font-size: 1.6rem;
  color: #777;
  margin: 1rem 0;
}

.footer .box-container .box .share {
  margin-top: 2rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  
  color: #fff;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #2597f4;
}

.footer .credit {
  font-size: 2rem;
  text-transform: capitalize;
  color: white;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 0.2rem solid white ;
  text-align: center;
}

.footer .credit span {
  color: #2597f4;
}


















































































/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        background:black;
        box-shadow: var(--box-shadow);
        border:var(--border);
        border-radius: .5rem;
        width: 30rem;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
    }

    .header .navbar.active{        
        transform: scale(1);
        opacity: 1;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        padding:1rem;
        margin: 1rem;
        border-radius: .5rem;
    }

    .header .navbar a:hover{
        background: var(--bg);
    }

    .home .content{
        text-align: center;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}



/* FOR TEAM */
.hide {
  display:none;
  /* background:none; */
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}


